.component-content {
  margin: 10px 0 0;
  padding: 0 50px;
  overflow-y: auto;
}

.layout-content {
  background: #fff;
  padding: 24px;
}

.ant-table-content {
  overflow-x: auto;
}

@media only screen and (max-width: 700px) {
  .component-content {
    padding: 0;
  }

  .layout-content {
    padding: 10px;
  }
}
