.card-property {
  margin-bottom: 5px;
  display: flex;
  justify-content: space-between;
}

.card-offer {
  cursor: pointer;
}

.card-offer small {
  text-align: right;
  display: block;
}

.background-image-offer {
  width: 100px;
  height: 240px;
  display: block;
  background-color: #ddd;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
